# Ignore the tomesd_global_backup directory
tomesd_global_backup/
tensors/
flux_todo/
output/

# Ignore everything inside the directory, including hidden files
tomesd_global_backup/**/*
output/**/*
flux_todo/**/*
mask/
mask_list/

# Ignore all Python cache directories
**/__pycache__/
*.py[cod]
*$py.class

lora_weight/