# Ignore the tomesd_global_backup directory
tomesd_global_backup/
tensors/
flux_todo/
output/

# Ignore everything inside the directory, including hidden files
reloc_attention/mask_list/
reloc_attention/output/
reloc_attention/coco_dataset/
reloc_attention/result/
reloc_attention/mask_list_closed/
reloc_attention/penv/
reloc_attention/lora/
reloc_attention/recompute_indices/
reloc_attention/mask_hilbert/
reloc_attention/mask_morton/
reloc_attention/flux_2048/
reloc_attention/__MACOSX/

# Ignore all Python cache directories
**/__pycache__/
*.py[cod]
*$py.class

lora_weight/