accelerate
bitsandbytes
diffusers
hilbertcurve
huggingface_hub
numpy
opencv-python
pandas
peft
pillow
prodigyopt
protobuf
pytorch-fid
safetensors
scipy
sentencepiece
tokenizers
torch
torchvision
tqdm
transformers
triton
wandb
